<section class = "comment_room fullheight" >
  <h1 id="comment_index">食べたメニューを編集</h1>
  <%= render 'form', comment: @comment %>
  <%= link_to '←', comments_path(restaurant_id: @comment.restaurant.id), class:"origin_back_btn" %>
</section>