<section class = "comment_room" >
<h1 id="comment_new">口コミ</h1>

<%= render 'form', comment: @comment %>
<%= link_to '←', comments_path(restaurant_id: @restaurant.id), class: "origin_back_btn" %>

</section>