<div class = "top_room">
  <div id = "top_logo">
    <p top_content>
      <h2>ドライブステーション</h2>
      <h3>大型車でも立ち寄りが出来る温泉と食事処の情報ページです。</h3>
    </p>
    <p>
      <div class="center_btn">
        <h2><%= link_to "スタート", new_user_path,  class:"origin_next_btn top_btn" %></i></h2>
      </div>
    </p>
  </div>
</div>



<!--<div class = "top_room">-->
<!--  <div id= "top_logo">-->
    <!--<div class = "top_content">-->
<!--      <h2>ドライブステーション</h3>-->
<!--      <P><h3>大型車でも立ち寄り出来る温泉と食事処の情報ページです</h3></p>-->
<!--      <div class="center_btn">-->
<!--        <h2><#%= link_to "スタート", new_user_path,  class:"origin_next_btn top_btn" %></i></h2>-->
<!--      </div>-->
    <!--</div>-->
<!--  </div>-->
<!--</div>-->