<!--<section class="fullheight" >-->
<div class="top_container", id= "top_logo">
            <h3>ドライブステーション</h3>
            <P>大型車でも立ち寄り出来るお風呂と食事処の情報ページです</p>
             <p >
                 <h2><i class="fa fa-twitter"><%= link_to "スタート", new_user_path,  id:"top_btn" %></i></h2>
             </p>
</div>
<!--</section>写真サイズが小さいのであえて当てない-->