<section class="top_page">
  <!-- <div class = "top_room"> -->
    <div id = "top_logo">
      <div class="top_img">
        <img src="/assets/DriveStation_moji1.jpg">
      </div>
      <div class="top_content">
          <h2>ドライブステーション</h2>
          <h3>大型車でも立ち寄りが出来る「温泉」と「食事処」の情報ページです。</h3>
      </div>
      <div class="center_btn">
        <h2><%= link_to "スタート", new_user_path,  class:"origin_next_btn top_btn" %></h2>
      </div>
    </div>
  <!-- </div> -->
</section>
