<div class="container">
    <body id = "introduce">
            <h3>ドライブステーション</h3>
            <P>大型車でも立ち寄り出来るお風呂と食事処の情報ページです</p>
             <!--<a class="btn btn-primary btn-lg" href="new_user" role="button">スタート»</a>-->
             <p><%= link_to "スタート", new_user_path %></p>
    </body>
</div>