<section class = "restaurant_room fullheight" >
<h1 id="restaurant_edit" >お店の編集</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to '←', @restaurant, class:"origin_back_btn" %> 
</section>