<section class = "restaurant_room" >
  <h1 id="restaurant_new">新しくレストランを投稿する</h1>
  <%= render 'form', restaurant: @restaurant %>
  <%= link_to '←', restaurants_path, class:"origin_back_btn" %>
</section>