/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* common */


body {
    font-size :14px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

a {
  text-decoration: none;
}

p{
  line-height: 2;
}

/* header */

header {
  background: url('sora.jpg');
  background-size: cover;
}

header .container {
  width: 820px;
  margin: 0 auto;
  height: 100px;
  padding-top: 20px;
}

.header_tag {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  
}
/* top */
#top_btn{
  display: inline-block;
  width: 290px;
  line-height: 100px;
  background: #CCCCCC;
  text-align: center;
  color: #FF3366;
  border-radius: 50px;
  opacity: 0.9;
}

#top_btn:hover{
  opacity: 1;
}

#top_logo {
  background-image: url("douro.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.top_container{
  
  
}





.user_image {
  border-radius: 50%;
  float:left;
  width: 100px;
  height: 100px;
    
}

.restaurant_image {
  float:left;
  width: 100px;
  height: 100px;
    
}
