/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/*ベース*/

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.fullheight {
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 100%;
  width: auto;
  background-color: #F8F8F8;
}



/* common */

body {
  /*最後に798→800*/
    width : grid-template-columns 10% 80% 10% ;
    margin: 0px auto;
    font-size :14px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    /*background: #f8f8f8;*/
    padding: 0px 80px;

    /*最後に消す 消すときにwidthを800pxにする*/
     /*border: #f6bb9e 1px solid;*/
}
ul{
  margin:0;
}
a {
  text-decoration: none;
}

p{
  line-height: 2;
}

section{
  width: 100%;
  height: auto;
  padding: 0px;
}


h1 {
  margin: 0 100px;
  /*height: 100px;*/
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
}

.error_comment {
  color: red;
  margin: 0 200px;
}

/* header */



.header {
  background-color: #99CCCC;
  height: 90px;
  padding: 0;
}

/*.header {*/
/*  width: 800px;*/
/*  margin: 0 auto;*/
/*  height: 80px;*/
  /*padding-top: 0px;*/
/*  position: relative;*/
/*}*/

.header_logo {
  float: left;
  font-size: 30px;
  padding: 24px 10px;
  color: #fff;
}

.header_tag {
  color: #fff;
  font-size: 20px;
  margin: 20px 10px ;
  padding: 10px;
  float: left
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.navbar-default {
    background-color: #99CCCC;
    border-color: #e7e7e7;
}


/*top*/

.top_btn{
  /*margin: 50px 250px 10px 250px;*/
  margin: auto;
}
.center_btn{
  text-align:center;
  margin: 10% 0;
  clear: both;
}
.top_content{
  margin: 0 0 0 100px;
}
.top_content h2{
  padding-top: 13%;
}
.top_img img{
  width: 30%;
  float: left;
}


.top_page{
  /* background-image: url("douro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; */
}



/* _form */

.item_space {
  margin: 100px 200px;
}

.input .field {
  font-size: 2rem;
  /*text-align: center;*/
  font-weight: normal;
}

.action {
    display: inline-block;
    padding: 7px 20px;
	  border-radius: 25px;
    text-decoration: none;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    background-image: linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    transition: .4s;
}
th{
  text-align: center;
  padding: 5%;
}
td{
}



.field {
  width: 100%;
  border-collapse: collapse;
}


/*.field th {*/
/*  width: 15rem;*/
/*  background-color: #CCFFFF;*/
/*  text-align: left;*/
/*  vertical-align: top;*/
/*}*/

/*.field textarea {*/
/*  width: 600px;*/
/*  height: 100px;*/
/*  padding: 5px;*/
/*}*/



/*footer*/

.footer {
  padding: 7px 0;
  text-align: center;
  background-color: #99CCCC;
  height: 50px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*btn*/

.origin_back_btn {
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    /*// overflow: hidden;*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;

    position: fixed;
    bottom: 10px;
    left: 220px;
    z-index: 999;
}

.origin_back_btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.origin_next_btn{
    display: inline-block;
    text-decoration: none;
    color: #C0C0C0;

    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 0%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.origin_next_btn .fa {
    line-height: 80px;
}
.origin_next_btn:active {
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.origin_edit_btn {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 50px;
  height: 30px;
  line-height: 30px;
  /*// border-radius: 50%;*/
  border: solid 1px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: lighter ;
  transition: .4s;
  font-size: 15px;
  float: left;
  margin-bottom: 0;
  margin: 5px;
}

.origin_edit_btn:hover {
    background: #b3e1ff;
}

.button_wrapper_center {
  text-align:center;
}
