/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/*? 動作確認中*/

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.fullheight {
  height: 100%;
  
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  width: auto;
  background: #f8f8f8;
  
}



/* common */

body {
  /*最後に798→800*/
    width :798px;
    margin: 40px auto;
    font-size :14px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    background: #f8f8f8;
   
    padding: 40px 80px;  
    background-color: #fff;
    
    /*最後に消す 消すときにwidthを800pxにする*/
     border: #f6bb9e 1px solid;
}

a {
  text-decoration: none;
}

p{
  line-height: 2;
}

section{
  padding: 10px 0 180px 0;
}


h1 {
  margin: 0 100px;
  /*height: 100px;*/
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/* header */



header {
  /*background: 
  url('sirokuro.JPG');*/
  /*background-size: cover;*/
  background-color: #99CCCC;
}

header .header {
  width: 820px;
  margin: 0 auto;
  height: 50px;
  padding-top: 20px;
  position: relative;
}

.header_logo {
  float: left;
  font-size: 30px;
  padding: 25px 40px;
  color: #fff;
}

.header_tag {
  color: #fff;
  font-size: 20px;
  margin: 15px;
  
}


#top_btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 100px;
  line-height: 100px;
  border-radius: 50px;
  margin: 200px 280px
}
#top_btn:hover {
  background-color: rgba(255, 255, 255, .2);
}
#top_logo {
  position: absolute;
  /*right: 0;*/
  /*bottom: 0;*/
  background-image: url("douro.jpg");
  background-size: cover;
  height: 100%;
  width: 800px;
}

/* _form */

.input .field {
  font-size: 26px;
  /*text-align: center;*/
  margin: 0 0 0px;
  font-weight: normal;
}

.input .action {
    display: inline-block;
    padding: 7px 20px;
	  border-radius: 25px;
    text-decoration: none;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    background-image: linear-gradient(45deg, #dcdcdc 0%, #f5f5f5 100%);
    transition: .4s;
}


.field {
  width: 100%;
  border: #669999 2px solid;
  /*// borderは後で消す?*/
  border-collapse: collapse;
}

.field th {
  width: 15rem;
  background-color: #CCFFFF;
  text-align: left;
  vertical-align: top;
}

.field textarea {
  width: 600px;
  height: 100px;
  padding: 5px;
}



/*footer*/

.footer {
  padding: 0;
  text-align: center;
  background-color: #99CCCC;
  height: 50px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 800px;
  
}

/*btn*/

.origin_back_btn {
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    /*// overflow: hidden;*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    
    position: fixed;
    bottom: 10px;
    left: 220px;
    z-index: 999;
}

.origin_back_btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.origin_next_btn{
    display: inline-block;
    text-decoration: none;
    color: #C0C0C0;
    
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 0%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
}
.origin_next_btn .fa {
    line-height: 80px;
}
.origin_next_btn:active {
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.origin_edit_btn {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 50px;
  height: 30px;
  line-height: 30px;
  /*// border-radius: 50%;*/
  border: solid 1px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: lighter ;
  transition: .4s;
  font-size: 15px;
  float: left;
  margin-bottom: 0;
  margin: 5px;
}

.origin_edit_btn:hover {
    background: #b3e1ff;
}
