// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//new,index,show, 

.comment_room {
  // background: #f8f8f8;     後で同じグレーに戻す
   background: #FFF0F5;
}



// index

#comment_index {
  text-align: center;
  margin: 50px 0 50px 0;
}


.img01.waku03 {
  border: 10px solid #fff;
  box-shadow: 0 0 0 1px #ccc,1px 3px 8px 0 rgba(40,40,40,0.3);
}
.waku03.rotate01 {
  -moz-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  transform:rotate(-3deg);
}
.waku03.rotate02 {
  -moz-transform:rotate(1deg);
  -webkit-transform:rotate(1deg);
  -ms-transform:rotate(1deg);
  transform:rotate(1deg);
}

#comment_index_btn{
  display: inline-block;
  width: 200px;
  line-height: 80px;
  background: #CCCCCC;
  text-align: center;
  color: #FF3366;
  border-radius: 50px;
  opacity: 0.9;
  margin-bottom: 0;
}
#comment_index_btn:hover{
  opacity: 1;
}


.comment {
  float: left;
  color: red;
  margin: 0;
  padding: 0;
  width: 266px;
  text-align: center;
}

#comment_image {
 height: 400px;
 width: 400px;
}

.commnet_index_new {
  margin: 100px 250px 0 250px;
}

//new

.bath_new_input{
  margin-right: -15px;
  margin-left: -15px;
}

#comment_new {
  text-align: center;
  margin: 50px 0 0px 0;
}


#comment_new_image {
  margin: 10px;
}

#comment_menu {
  height: 50px;
  width: 350px;
}

#comment_comment{
  height: 120px;
  width: 350px;
}

#comment_takeout {
  height: 50px;
  width: 350px;
}


// section .restaurant_input .field{
//   background-color: red;
// }

// section .restaurant_input .field td{
//   width: 20rem;
//   height: 5rem;
//   background-color: #CCFFFF;
//   text-align: left;
//   vertical-align: top;
// }

// section .restaurant_input .field textarea {
//   width: 600px;
//   height: 100px;
//   padding: 5px;
// }


//show
#comment_show_right{
  margin: 50px 200px;
}