// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new,index,show, 

.restaurant_room {
  // background: #f8f8f8;     後で同じグレーに戻す
   background: #F0FFFF;
}

//new

#restaurant_image {
  margin: 20px;
  
}

#restaurant_new {
  text-align: center;
  margin: 50px 0 100px 0;
}

.restaurant_new_input{
  margin-right: -15px;
  margin-left: -15px;
}

.item_space {
  margin: 100px 200px;
}

#restaurant_name {
  height: 50px;
  width: 350px;
}

#restaurant_place {
  height: 50px;
  width: 350px;
}

#restaurant_ations {
  
}



// section .restaurant_input .field{
//   background-color: red;
// }

// section .restaurant_input .field td{
//   width: 20rem;
//   height: 5rem;
//   background-color: #CCFFFF;
//   text-align: left;
//   vertical-align: top;
// }

// section .restaurant_input .field textarea {
//   width: 600px;
//   height: 100px;
//   padding: 5px;
// }

// index

#restaurant_index{
  text-align: center;
  margin: 20px 20px 0 20px ;
}

#restaurant_index_sub {
 text-align: center;
 display: block;
 font-size: 13px;
 color: #aaa;
 padding-top: 10px;
 margin: 0 0 100px 0;
}

.restaurant .restaurant_image img{
  border-radius: 50%;
  float:left;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
  left: 0;
  right: 50;
  margin: 15px 0;
}

.restaurant {
  background: #fff;
  width: 255px;
  box-sizing: border-box;
  position: relative; 
  float: left;
  margin: 5px 5px;
  margin-bottom: 20px;
  padding: 40px 0px 0px 50px;
}

.restaurant h3{
 text-align: left;
}

.restaurant_index_new {
  margin: 50px 250px 10px 250px;
}

.index_content {
  display: block;
  
}

.restaurant_name {
text-align: left;
  margin: 0 ;
}




// show
.restaurant_show_image img{
  width: 600px;
  height: 500px;
  margin: 0 80px;
}



.restaurant_show_favorote {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.restaurant_show_favorote:hover {
    background: #67c5ff;
    color: white;
}

.restaurant_contailner .restaurant_show_name{
  float: left;  
}

.center_btn {
 margin: 0 250px;
}




//new?

#new_restaurant_btn {
  display: inline-block;
  width: 290px;
  line-height: 100px;
  background: #CCCCCC;
  text-align: center;
  color: #FF3366;
  border-radius: 50px;
  opacity: 0.9;
  margin-bottom: 0;
}

#new_restaurant_btn:hover{
  opacity: 1;
}

// index
#restaurant_edit {
  text-align: center;
  margin: 20px ;
}


.index_image img{
  width: 50px;
}
