// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new
#session_new {
  text-align: center;
  margin: 50px 0 50px 0;
}

#session_sub {
  text-align: center;
  margin: 0px 0 50px 0;
}

.session_room {
   background: #f8f8f8;

}
