// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.user {
  background: #f8f8f8;
}

//new



#user_new {
  text-align: center;
}


//index

.input {
  padding: 100px;
}


section .user {
  background: #f8f8f8;
 
}


#user_restaurant_btn {
  display: inline-block;
  width: 100px;
  line-height: 50px;
  background: #CCCCCC;
  text-align: center;
  color: #FF3366;
  border-radius: 50px;
  opacity: 0.5;
  margin-bottom: 0;
}

#user_restaurant_btn:hover{
  opacity: 1;
}


// show
#mypage {
  margin: 10px 50px;
}

.favotite_image {
  width: 100px;
  height: 100px;  
}

.favorites {
  float: left;
  width: 650px;
  height: 300px;
  margin: 0 50px;
  overflow: scroll;
  padding: 0 50px;
}






