// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




  // backgroundはデフォルトでapplication.cssに書いている



//new



#user_new {
  text-align: center;
  margin: 50px 0 100px 0;
}

.name_input {
  margin: 50px 150px;
}

#user_image_input{
  width: 250px;
}

//index



// show
#mypage {
  margin: 0 0 50px 100px;
  padding: 50px;
}

#user_image img {
  border-radius: 50%;
  float:left;
  width: 150px;
  height: 150px ;
  margin: 0px;
}

#user_show_title{
  padding: 40px 0 0 60px;
}



// お風呂を探す

.bath_preferences_index {
  float:left;
  width: 400px;
}

.user_show_bath_index{
  margin: 0 50px;
  display: block;
}


.preference_image {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.preference {
  float: left;
  width: 320px;
  // height: 500px;
  margin: 0;
  // overflow: scroll;
  padding: 0 0 0 80px;
}


// 食事処を探す

.restaurant_favorites_index {
  float: left;
  width: 338px;

}

.user_show_restaurant_index{
  margin: 0 50px;
  display: block;
}



.favotite_image {
  width: 100px;
  height: 100px; 
  margin: 5px;
}


.favorites {
  float: left;
  width: 320px;
  // height: 500px;
  margin: 0;
  // overflow: scroll;
  padding: 0 80px;
}

.show_btn {
    color: red;
    position: fixed;
    bottom: 10px;
    left: 300px;
    z-index: 999;
 }

.user_show_index {
  margin: 0 250px 0 250px;
  display: block;
}

